body {
    background-color: #272727;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
    margin: 0;
    height: 100vh;
    flex-direction: column;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 32px;
    background-color: #aa9ce9;
    color: #000000;
}

#logo {
  font-size: 24px;
  font-weight: 700;
}

#navigation {
  list-style: none;
  display: flex;
  gap: 16px;
  
}

#navigation a {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
}
#content,
#content2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0;
  gap: 20px;
}

#img, 
#img2 {
  width: 500px;
  height: auto;
}

#pic,
#pic2 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

#kupit,
#kupit2 {
  cursor: pointer;
  color: #ffffff;
  font-weight: 700;
  background-color: #4b0082;
  border: 2px solid #800080;
  border-radius: 8px;
  padding: 4px 8px; 
}

#enter {
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 8px 16px;
}

#enter a {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  font-size: 24px;
}

#popis,
#popis2 {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}

#kupit:hover,
#kupit2:hover {
  background-color: #adff2f;
  border-color: #ffff00;
}

#kupit.disabled,
#kupit2.disabled {
  background-color: #808080;
  border-color: #808080;
}

#splash {
  background: linear-gradient(rgba(0, 0, 0, 0.70), rgba(0, 0, 0, 0.70)), url("./images/splash.jpg");
  filter: brightness(100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  height: 100vh;
}

#title {
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
}

#desc {
  color: #ffffff;
  margin-bottom: 60px;
}

#footer {
  background-color: rgb(169, 155, 233);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 0;
}